* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
/*=======General Styles=========*/
:root {
  --Tittlefont: "Just Another Hand";
  --TaskFont: "Gochi Hand";
  --bkg: #fafafa;
  --mainMargin: 0 auto;
  --mainColor: #5bc0e8;
  --CardColor: rgb(202, 202, 202);
  --Radius: 24px;
  --OutsideRadius: 32px;
  --Padding: 1em;
  --TextColor: #fafafa;
  --border: 3px solid #1c1c1c;
}

body {
  background-color: #1c1c1c;
}
/*======= Logo Style =========*/
.AppLogo {
  width: 100%;
  margin: 1em auto;
  display: flex;
  justify-content: center;
}

.AppLogo img {
  width: 30em;
}
/*======= Main Container Style =========*/
.Container {
  display: flex;
  flex-direction: row;
  justify-content:flex-end;
  width: 70rem;
  margin: var(--mainMargin);
  font-family: var(--Tittlefont);
}

/*======= Style Card to do list =========*/
.CardTask {
  position: static;
  text-align: center;
  width: 18em;
  height: 16em;
  margin: var(--mainMargin);
  padding: var(--Padding);
  background-color: var(--CardColor);
  font-size: 1.5em;
  border-radius: 30%;
  corner-shape: squircle;
}

/*======= H1 Style =========*/
.AppTittle,
.TaskTittle {
  font-size: 2em;
}

/*======= Input Style and Button Style =========*/
.TaskInput,
.AddTask {
  padding: var(--Padding);
}

.TaskInput input::placeholder {
  font-family: var(--TaskFont);
  color: var(--TextColor);
  font-size: 36px;
}

.TaskInput input {
  width: 340px;
  height: 60px;
  border-radius: var(--Radius);
  background-color: var(--mainColor);
  color: var(--TextColor);
  font-family: var(--TaskFont);
  transition: font-size 0.5s ease;
  font-size: 36px;
  text-indent: 10%;
border-top: 4px solid black ;
  border-bottom: 3px solid black ;
  border-left: 3px solid black ;
  border-right: 2px solid black ;}

.TaskInput input:focus {
  font-size: 1.5em;
  padding-top: 6px;
  text-indent: 10%;
  scale: 1.1;
  transition: 0.3s ease-in-out;
}

.AddTask button {
  padding: 0.2em;
  font-size: 2em;
  border-radius: var(--Radius);
  background-color: var(--mainColor);
  font-family: var(--TaskFont);
  color: var(--TextColor);
  border-top: 2px solid black ;
  border-bottom: 3px solid black ;
  border-left: 3px solid black ;
  border-right: 2px solid black ;
}

/*======= Button Hover Style =========*/
.AddTask button:hover{
  background-color: var(--TextColor);
  color: var(--mainColor);
  font-size: 2em;
  cursor: pointer;
  animation: poup 0.2s ease-in-out alternate forwards;
}

@keyframes poup {
  0% {
    box-shadow: #00649a;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    box-shadow: 0 1px #00649a, 0 2px #00649a, 0 3px #00649a, 0 4px #00649a,
      0 5px #00649a, 0 6px #00649a, 0 7px #00649a, 0 8px #00649a;
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

.AddTask button:active {
  background-color: var(--mainColor);
  color: var(--TextColor);
}
/*======= Task List Style =========*/

.Tasks {
  text-align: center;
  margin: var(--mainMargin);
  padding: 0 1em 2em 1em;
  background-color: var(--CardColor);
  border-radius: 20%;
  corner-shape: squircle;
}

.NoTask {
  position: absolute;
  bottom: 40px;
  right: 40px;
  width: 10em;
  transition:  4s ;
  background-color: orange;
  border-radius: var(--OutsideRadius);
  font-size: 3.5em;
  color: var(--TextColor);
  font-family: var(--TaskFont);
  animation: fadeout 4s ease-in-out infinite forwards ;

}

@keyframes fadeout {
  20% {
    transform: translatey(40%);
  }
    }

.Tasklist {
  width: 12em;
  font-family: var(--TaskFont);
  font-size: 3em;
  color: var(--TextColor);
  list-style: none;
}

.Tasklist li {
  text-indent: 5%;
  margin-top: 0.2em;
  padding-right:0.9em ;
  border-radius: var(--Radius);
  border: var(--border);
  background-color: var(--mainColor);
  border-top: 2px solid black ;
  border-bottom: 3px solid black ;
  border-left: 3px solid black ;
  border-right: 2px solid black ;
  animation: fadeSlide 0.5s ease-out normal forwards;
}

@keyframes fadeSlide {
  0% {
    transform: translate(-1em);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: 0;
  }
}
/**/
.Tasklist button{
  position: absolute;
  left:30.5em;
  padding: 0.4em;
  font-size:0.36em;
  font-family: var(--TaskFont);
  color: red;
  background-color: #fafafa;
border-top: 2px solid black ;
  border-bottom: 3px solid black ;
  border-left: 3px solid black ;
  border-right: 2px solid black ;  border-radius: 0.8em;
}

/*Mobile Style 900px*/
@media screen and (max-width: 900px) {
  .Container {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .Tasks {
    width: 40em;
  }

  .NoTask,
  .Tasklist li {
    overflow: hidden;
    text-overflow: ellipsis;
    text-indent: 5%;
    margin-right: 1em;
  }
}

@media screen and (max-width: 400px) {

}
