* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/*=======General Styles=========*/
:root {
  --Tittlefont: "Just Another Hand";
  --TaskFont: "Gochi Hand";
  --bkg: #fafafa;
  --mainMargin: 0 auto;
  --mainColor: #fffc57;
  --CardColor: rgb(246, 243, 202);
  --Radius: 24px;
  --OutsideRadius: 32px;
  --Padding: 1em;
  --TextColor: #4f5403;
  --border: 3px solid #1c1c1c;
}

body {
  background-color: #1c1c1c;
}
/*======= Logo Style =========*/
.AppLogo {
  width: 100%;
  margin: 1em auto;
  display: flex;
  justify-content: center;
}

.AppLogo img {
  width: 40em;
}
/*======= Main Container Style =========*/
.Container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 70rem;
  margin: var(--mainMargin);
  font-family: var(--Tittlefont);
}

/*======= Style Card to do list =========*/
.CardTask {
  position: static;
  text-align: center;
  width: 18em;
  height: 16em;
  margin: var(--mainMargin);
  padding: var(--Padding);
  background-color: var(--CardColor);
  font-size: 1.5em;
  border-radius: var(--Radius);
}

/*======= H1 Style =========*/
.AppTittle,
.TaskTittle {
  font-size: 3rem;
  color: #1c1c1c;
}

/*======= Input Style and Button Style =========*/
.TaskInput,
.AddTask {
  padding: var(--Padding);
}

.TaskInput input::placeholder {
  font-family: var(--TaskFont);
  color: var(--TextColor);
  font-size: 36px;
}

.TaskInput input {
  width: 340px;
  height: 60px;
  border-radius: var(--Radius);
  background-color: var(--mainColor);
  color: var(--TextColor);
  font-family: var(--TaskFont);
  transition: font-size 0.5s ease;
  font-size: 36px;
  text-indent: 10%;
  border-top: 4px solid black;
  border-bottom: 3px solid black;
  border-left: 1px solid black;
  border-right: 3px solid black;
}

.TaskInput input:focus {
  font-size: 1.5em;
  padding-top: 6px;
  text-indent: 10%;
  scale: 1.1;
  transition: 0.2s ease-in-out;
  outline: none;
}

.AddTask button {
  padding: 0.2em;
  font-size: 2em;
  border-radius: var(--Radius);
  background-color: var(--mainColor);
  font-family: var(--TaskFont);
  color: var(--TextColor);
  border-top: 1px solid black;
  border-bottom: 3px solid black;
  border-left: 4px solid black;
  border-right: 2px solid black;
}

/*======= Button Hover Style =========*/
.AddTask button:hover {
  background-color: var(--TextColor);
  color: var(--mainColor);
  font-size: 2em;
  cursor: pointer;
  animation: poup 0.2s ease-in-out alternate forwards;
}

@keyframes poup {
  0% {
    box-shadow: #00649a;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    box-shadow: 0 1px #00649a, 0 2px #00649a, 0 3px #00649a, 0 4px #00649a,
      0 5px #00649a, 0 6px #00649a, 0 7px #00649a, 0 8px #00649a;
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

.AddTask button:active {
  background-color: var(--mainColor);
  color: var(--TextColor);
  transition: 0.1s ease-in-out;
  animation: press 15s ease-in-out alternate forwards;
}

@keyframes press {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

/*======= Task List Style =========*/
.Tasks {
  text-align: center;
  margin: var(--mainMargin);
  padding: 0 1em 2em 1em;
  background-color: var(--CardColor);
  border-radius: var(--Radius);
}

.NoTask {
  position: absolute;
  bottom: 40px;
  right: 40px;
  width: 10em;
  transition: 4s;
  background-color: orange;
  border-radius: var(--OutsideRadius);
  font-size: 2em;
  color: var(--TextColor);
  font-family: var(--TaskFont);
  animation: fadeout 1.5s ease-OUT infinite;
}

@keyframes fadeout {
  0%,
  50% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-35px);
  }

  60% {
    transform: translateY(-20px);
  }
}

.Tasklist {
  display: flex;
  flex-wrap: nowrap;
  align-items: start;
  width: 15em;
  font-family: var(--TaskFont);
  font-size: 2.5em;
  color: var(--TextColor);
  list-style: none;
}

.Tasklist li {
  display: flex;
  flex-direction: row;
  margin-top: 0.2em;
  width: 13em;
  padding: 0 0.3em;
  overflow-wrap: break-word;
  overflow-wrap: anywhere;
  text-overflow: wrap;
  border-radius: var(--Radius);
  border: var(--border);
  background-color: var(--mainColor);
  border-top: 2px solid black;
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  border-right: 2px solid black;
}

.Tasklist li,
.Tasklist button {
  animation: fadeSlide 0.5s ease-out normal forwards;
}

@keyframes fadeSlide {
  0% {
    transform: translate(-1em);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: 0;
  }
}
/* Button to remove */
.Tasklist button {
  width: 3em;
  height: 2em;
  margin-top: 0.5em;
  margin: 8px;
  font-size: 0.36em;
  font-family: var(--TaskFont);
  background-color: #fafafa;
  border-top: 2px solid black;
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  border-right: 2px solid black;
  border-radius: 0.8em;
}

.Tasklist button:hover {
  transition: 0.2s ease-in-out;
  transform: rotate(-30deg) translate(2px, -4px);
  scale: 1.1;
}

.Tasklist button:active {
  transition: 0.2s ease-in-out;
  transform: translate(2px, -4px);
  animation: press 15s ease-in-out alternate forwards;
}

.TaskDone li {
  filter: brightness(80%);
  text-decoration: line-through;
  font-style: italic;
}

#doneCheck {
  font-size: 22px;
  font-weight: bolder;
  color: green;
}

#removeCheck {
  font-size: 22px;
  font-weight: bolder;
  color: red;
}

/*Footer style*/
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 8em 1em 0em 1em;
  border-top: 1px solid white;
  padding-top: 2em;
}

.social img {
  width: 40px;
  filter: invert(100%);
}

.social img:hover {
  filter: invert(85%);
  transform: rotate(-10deg) scale(1.1);
}
.footerLogo img {
  width: 180px;
}

/*TABLET POTRAIT STYLE*/
@media (min-width: 768px) and (max-width: 1024px) {
  .AppLogo {
    width: 100%;
    margin: 0;
  }
  .AppLogo img {
    width: 650px;
  }

  .Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 10px;
  }
  .CardTask input {
    width: 600px;
    text-align: center;
    text-indent: 0;
  }

  .CardTask,
  .Tasks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 6px 0;
    width: 100%;
  }

  .AppTittle,
  .TaskTittle {
    font-size: 60px;
  }

  .NoTask {
    position: absolute;
    bottom: 40px;
    right: 20px;
    width: 480px;
    font-size: 60px;
  }

  .Tasklist {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    color: var(--TextColor);
    list-style: none;
  }

  .Tasklist li {
    font-size: 44px;
    width: 100%;
  }

  .Tasklist li,
  .Tasklist button {
    animation: fadeSlide 0.5s ease-out normal forwards;
  }

  @keyframes fadeSlide {
    0% {
      transform: translatey(-1em);
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    100% {
      transform: 0;
    }
  }

  .AddTask button:active {
    background-color: var(--TextColor);
    color: var(--mainColor);
    animation: poup 0.2s ease-in-out infinite forwards;
  }

  @keyframes poup {
    0% {
      -webkit-transform: translateY(-8);
      transform: translateY(-8);
    }
    50% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
    100% {
      background-color: var(--mainColor);
      color: var(--TextColor);
      -webkit-transform: translateY(-8);
      transform: translateY(-8);
    }
  }

  .Tasklist button {
    width: 150px;
    height: 40px;
  }

  .Tasklist button:active {
    animation: poup 0.2s ease-in-out infinite forwards;
    transform: translate(0px);
    opacity: 1;
    scale: 1;
  }

  .Tasklist button:hover {
    transform: translate(0px);
    scale: 1;
  }
}

/*MOBILE POTRAIT STYLE*/
@media (min-width: 320px) and (max-width: 767px) {
  .AppLogo {
    width: 100%;
    margin: 0;
  }

  .Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 10px;
  }

  .CardTask,
  .Tasks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 6px 0;
    font-size: 20px;
    width: 100%;
  }

  .TaskInput input:focus {
  font-size: 1.5em;
  padding-top: 6px;
  text-indent: 10%;
  width: 320px;
  height: 80px;
  scale: 1.1;
  transition: 0.2s ease-in-out;
  outline: none;
}

  .AppTittle,
  .TaskTittle {
    margin-top: 4px;
    font-size: 40px;
  }

  .NoTask {
    position: absolute;
    bottom: 40px;
    right: 20px;
    width: 280px;
    font-size: 40px;
  }

  .Tasklist {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    color: var(--TextColor);
    list-style: none;
  }

  .Tasklist li {
    font-size: 34px;
    width: 100%;
  }

  .Tasklist li,
  .Tasklist button {
    animation: fadeSlide 0.5s ease-out normal forwards;
  }

  @keyframes fadeSlide {
    0% {
      transform: translatey(-1em);
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    100% {
      transform: 0;
    }
  }

  .AddTask button:active {
    background-color: var(--TextColor);
    color: var(--mainColor);
    animation: poup 0.2s ease-in-out infinite forwards;
  }

  @keyframes poup {
    0% {
      -webkit-transform: translateY(-8);
      transform: translateY(-8);
    }
    50% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
    100% {
      background-color: var(--mainColor);
      color: var(--TextColor);
      -webkit-transform: translateY(-8);
      transform: translateY(-8);
    }
  }

  .Tasklist button {
    width: 140px;
    height: 40px;
  }


  .Tasklist button:hover {
    transform: translate(0px);
    scale: 1;
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
